#container.column {
  width: 310px;
  text-align: center;
  font-family: monospace;
  column-count: 2;
}

.column-left {
  float: left;
  width: 33%;
  background: red;
  height: 600px;
  text-align: center;
  padding: 0;
}

.column-center {
  display: inline-block;
  width: 34%;
  background: yellow;
  height: 600px;
  text-align: center;
  padding: 0;
}

.column-right {
  float: right;
  width: 33%;
  background: green;
  height: 600px;
  text-align: center;
  padding: 0;
}

img {
  width: 300px;
  height: auto;
}

h1 {
  padding-bottom: 30px;
}
